@if (Inventory is not null)
{
    <tr>
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("c")</td>
        <td>
          <button class="btn btn-primary btn-dark" type="submit">Edit</button>
            <button class="btn btn-primary btn-dark" type="submit">Delete</button>
            
        </td>
    </tr>
}

@code {
    [Parameter]
    public Inventory? Inventory { get; set; }
}
