@page "/Inventorties"
@inject IViewInventortiesByNameUseCase ViewUseCase
<h3>Inventorties</h3>

<InventoryComponent></InventoryComponent>
@code {
    // private List<Inventory>? inventories;
    // protected override async Task OnInitializedAsync() {
    //      var    inventories = (await ViewUseCase.ExecuteAsync()).ToList();
    // }

         
}
