@page "/"
@inject IViewInventortiesByNameUseCase ViewInventortiesByNameUseCase


<PageTitle>Hà Ngọc Tú </PageTitle>
 <br/>
<br />
<ul>
@if (inventories is not null && inventories.Count > 0 )
{
    foreach (var inv in inventories)
    {
        <li>@inv.InventoryName</li>
    @*     <li>@inv.InventoryId</li>
        <li>@inv.Quantity</li>
        <li>@inv.Price</li> *@
    }
}
</ul>
@code {
    private List<Inventory>? inventories;
    protected override async Task OnInitializedAsync()
    {
        // inventories = (await ViewInventortiesByNameUseCase.ExecuteAsync()).ToList();
        // inventories = (await ViewInventortiesByNameUseCase.ExecuteAsync("W")).ToList();
        // Nếu thêm 1 chuỗi ký tự vào trong hàm
        // ExecuteAsync thì nó sẽ tìm những item
        // có những chữ cái đó sau đó đưa ra cho UI
    }

}
